<section class="section advantages-section" id="advantages">
<div class="advantages-header container">
<h3 class="advantages-subtitle">Переваги</h3>
<div class="advantages-header-box">
<h2 class="advantages-title">Чому обрати нас?</h2>
<p class="advantages-description">Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну відповідальність.</p>
</div>
</div>
<div class="container">
<ul class="advantages-list">
<li class="advantage-card">
<picture>
<source srcset="/img/advantages/eco-materials.webp 1x, /img/advantages/eco-materials@2x.webp 2x"
media="(max-width: 767px)" />
<source
srcset="/img/advantages/eco-materials-tab@1x.webp 1x, /img/advantages/eco-materials-tab@2x.webp 2x"
media="(min-width: 768px)" />
<source
srcset="/img/advantages/eco-materials-des@1x.webp 1x, /img/advantages/eco-materials-des@2x.webp 2x"
media="(min-width: 1440px)" /> <img src="/img/advantages/eco-materials.webp"
alt="Екологічна перевага: вироби з органічної бавовни та переробленого пластику"
title="Стійкість та екологічність" width="704" height="417" class="advantage-image" />
</picture>
<h4 class="advantage-heading">Стійкість та екологічність</h4>
<p class="advantage-text">Виготовлені з органічної бавовни та переробленого пластику.</p>
</li>
<li class="advantage-card">
<picture>
<source
srcset="/img/advantages/durable-stitching.webp 1x, /img/advantages/durable-stitching@2x.webp 2x"
media="(max-width: 767px)" />
<source
srcset="/img/advantages/durable-stitching-tab@1x.webp 1x, /img/advantages/durable-stitching-tab@2x.webp 2x"
media="(min-width: 768px)" />
<source
srcset="/img/advantages/durable-stitching-des@1x.webp 1x, /img/advantages/durable-stitching-des@2x.webp 2x"
media="(min-width: 1440px)" /> <img src="/img/advantages/durable-stitching.webp"
alt="Перевага: сумка з посиленими швами для тривалого використання"
title="Міцність і довговічність" width="704" height="417" class="advantage-image" />
</picture>
<h4 class="advantage-heading">Міцність і довговічність</h4>
<p class="advantage-text">Наші сумки мають посилені шви для тривалого використання.</p>
</li>
<li class="advantage-card">
<picture>
<source srcset="/img/advantages/eco-totes.webp 1, /img/advantages/eco-totes@2x.webp 2x"
media="(max-width: 767px)" />
<source srcset="/img/advantages/eco-totes-tab@1.webp , /img/advantages/eco-totes-tab@2.webp 2x"
media="(min-width: 768px)" />
<source srcset="/img/advantages/eco-totes-des@1.webp 1x, /img/advantages/eco-totes-des@2.webp 2x"
media="(min-width: 1440px)" /> <img src="/img/advantages/eco-totes.webp"
alt="Перевага: мінімалістичний дизайн у лімітованих серіях для різних стилів"
title="Стильний та сучасний дизайн" width="704" height="417" class="advantage-image" />
</picture>
<h4 class="advantage-heading">Стильний та сучасний дизайн</h4>
<p class="advantage-text">Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
</li>
</ul>
</div>
</section>