<section class="section section-asortment">
  <h2 class="assortment-title">Наші сумки</h2>
  <div class="assortment-container container">
    <ul class="assortment-list">
      <li class="assortment-item">
        <div class="assortment-img"><img src="" alt="bags" /></div>
        <div class="assortment-content">
          <h3 class="assortment-subject">EcoTote Shopper</h3>
          <p class="assortment-text">
            Ідеальна для покупок, з посиленими ручками.
          </p>
          <p class="assortment-price">$30</p>
        </div>
        <button class="assortment-btw" type="submit">Купити</button>
      </li>
    </ul>
  </div>
</section>
