<!-- ------ASSORTMENT SECTION ------- -->

<section class="section-asortment section" id="assortment">
  <h2 class="assortment-title">Наші сумки</h2>
  <div class="assortment-container container">
    <ul class="assortment-list">
      <!-- Classic Bag -->
      <li class="assortment-item">
        <div class="assortment-img">
          <picture>
            <source
              srcset="
                /img/assortment/compress-desktop/classic-min.webp    1x,
                /img/assortment/compress-desktop/classic@2x-min.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/compresss-tablet/classic-min.webp    1x,
                /img/assortment/compresss-tablet/classic@2x-min.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/assortment/compress-mob/mob-x1-classic-min.webp 1x,
                /img/assortment/compress-mob/mob-x2-classic-min.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/assortment/compresss-tablet/classic-min.webp"
              alt="bag classic"
              width="340"
            />
          </picture>
        </div>
        <div class="assortment-content">
          <h3 class="assortment-subject">EcoBag Classic</h3>
          <p class="assortment-text">
            Елегантна та містка сумка для щоденного використання.
          </p>
          <p class="assortment-price">&#36;25</p>
        </div>
        <button
          class="assortment-btn"
          type="button"
          aria-label="Купити EcoBag Classic"
        >
          Купити
        </button>
      </li>
      <!-- shopper bag -->
      <li class="assortment-item">
        <div class="assortment-img">
          <picture>
            <source
              srcset="
                /img/assortment/compress-desktop/shopper-min.webp    1x,
                /img/assortment/compress-desktop/shopper@2x-min.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/compresss-tablet/shopper@2x-min.webp 1x,
                /img/assortment/compresss-tablet/shopper@2x-min.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/assortment/compress-mob/mob-x1-shopper-min.webp 1x,
                /img/assortment/compress-mob/mob-x2-shopper-min.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/assortment/compresss-tablet/shopper-min.webp"
              alt="bag shopper"
              width="340"
            />
          </picture>
        </div>
        <div class="assortment-content">
          <h3 class="assortment-subject">EcoTote Shopper</h3>
          <p class="assortment-text">
            Ідеальна для покупок, з <br />посиленими ручками.
          </p>
          <p class="assortment-price">&#36;30</p>
        </div>
        <button
          class="assortment-btn"
          type="button"
          aria-label="Купити EcoTote Shopper"
        >
          Купити
        </button>
      </li>
      <!-- Urban bag -->
      <!--  Bag -->
      <li class="assortment-item">
        <div class="assortment-img">
          <picture>
            <source
              srcset="
                /img/assortment/compress-desktop/urban-min.webp    1x,
                /img/assortment/compress-desktop/urban@2x-min.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/compresss-tablet/urban-min.webp    1x,
                /img/assortment/compresss-tablet/urban@2x-min.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/assortment/compress-mob/mob-x1-urban-min.webp 1x,
                /img/assortment/compress-mob/mob-x2-urban-min.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/assortment/compresss-tablet/urban-min.webp"
              alt="bag urban"
              width="340"
            />
          </picture>
        </div>
        <div class="assortment-content">
          <h3 class="assortment-subject">EcoBackpack Urban</h3>
          <p class="assortment-text">
            Зручний рюкзак для міста з відділенням для ноутбука.
          </p>
          <p class="assortment-price">&#36;45</p>
        </div>
        <button
          class="assortment-btn"
          type="button"
          aria-label="Купити EcoBackpack Urban"
        >
          Купити
        </button>
      </li>
      <!-- Mini Bag -->
      <li class="assortment-item">
        <div class="assortment-img">
          <picture>
            <source
              srcset="
                /img/assortment/compress-desktop/mini-min.webp    1x,
                /img/assortment/compress-desktop/mini@2x-min.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/compresss-tablet/mini-min.webp    1x,
                /img/assortment/compresss-tablet/mini@2x-min.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/assortment/compress-mob/mob-x1-mini-min.webp 1x,
                /img/assortment/compress-mob/mob-x2-mini-min.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/assortment/compresss-tablet/mini-min.webp"
              alt="bag mini"
              width="340"
            />
          </picture>
        </div>
        <div class="assortment-content">
          <h3 class="assortment-subject">EcoCrossbody Mini</h3>
          <p class="assortment-text">
            Компактна сумка через плече для найнеобхіднішого.
          </p>
          <p class="assortment-price">&#36;20</p>
        </div>
        <button
          class="assortment-btn"
          type="button"
          aria-label="Купити EcoCrossbody Mini"
        >
          Купити
        </button>
      </li>
      <!-- lunch bag -->
      <li class="assortment-item">
        <div class="assortment-img">
          <picture>
            <source
              srcset="
                /img/assortment/compress-desktop/lunch-min.webp    1x,
                /img/assortment/compress-desktop/lunch@2x-min.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/compresss-tablet/lunch-min.webp    1x,
                /img/assortment/compresss-tablet/lunch@2x-min.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/assortment/compress-mob/mob-x1-lunch-min.webp 1x,
                /img/assortment/compress-mob/mob-x2-lunch-min.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/assortment/compresss-tablet/lunch-min.webp"
              alt="bag lunch"
              width="340"
            />
          </picture>
        </div>
        <div class="assortment-content">
          <h3 class="assortment-subject">EcoLunch Bag</h3>
          <p class="assortment-text">Стильна та практична сумка для обідів.</p>
          <p class="assortment-price">&#36;15</p>
        </div>
        <button
          class="assortment-btn"
          type="button"
          aria-label="Купити EcoLunch Bag"
        >
          Купити
        </button>
      </li>
      <!-- EcoBeach Tote -->
      <li class="assortment-item">
        <div class="assortment-img">
          <picture>
            <source
              srcset="
                /img/assortment/compress-desktop/classic-min.webp    1x,
                /img/assortment/compress-desktop/classic@2x-min.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/compresss-tablet/tote-min.webp    1x,
                /img/assortment/compresss-tablet/tote@2x-min.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/assortment/compress-mob/mob-x1-tote-min.webp 1x,
                /img/assortment/compress-mob/mob-x2-tote-min.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/assortment/compresss-tablet/tote-min.webp"
              alt="bag classic"
              width="340"
            />
          </picture>
        </div>
        <div class="assortment-content">
          <h3 class="assortment-subject">EcoBeach Tote</h3>
          <p class="assortment-text">
            Велика сумка для пляжних речей з водонепроникною підкладкою.
          </p>
          <p class="assortment-price">&#36;35</p>
        </div>
        <button
          class="assortment-btn"
          type="button"
          aria-label="Купити EcoBeach Tote"
        >
          Купити
        </button>
      </li>
      <!-- Duffle bag -->
      <li class="assortment-item">
        <div class="assortment-img">
          <picture>
            <source
              srcset="
                /img/assortment/compress-desktop/duffle-min.webp    1x,
                /img/assortment/compress-desktop/duffle@2x-min.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/compresss-tablet/duffle-min.webp    1x,
                /img/assortment/compresss-tablet/duffle@2x-min.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/assortment/compress-mob/mob-x1-duffle-min.webp 1x,
                /img/assortment/compress-mob/mob-x2-duffle-min.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/assortment/compresss-tablet/duffle-min.webp"
              alt="bag duffle"
              width="340"
            />
          </picture>
        </div>
        <div class="assortment-content">
          <h3 class="assortment-subject">EcoTravel Duffle</h3>
          <p class="assortment-text">
            Містка дорожня сумка з додатковими кишенями.
          </p>
          <p class="assortment-price">&#36;60</p>
        </div>
        <button
          class="assortment-btn"
          type="button"
          aria-label="Купити EcoTravel Duffle"
        >
          Купити
        </button>
      </li>

      <!-- Kids Bag -->
      <li class="assortment-item">
        <div class="assortment-img">
          <picture>
            <source
              srcset="
                /img/assortment/compress-desktop/kids-min.webp    1x,
                /img/assortment/compress-desktop/kids@2x-min.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/assortment/compresss-tablet/kids-min.webp    1x,
                /img/assortment/compresss-tablet/kids@2x-min.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/assortment/compress-mob/mob-x1-kids-min.webp 1x,
                /img/assortment/compress-mob/mob-x2-kids-min.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/assortment/compresss-tablet/kids-min.webp"
              alt="bag kids"
              width="340"
            />
          </picture>
        </div>
        <div class="assortment-content">
          <h3 class="assortment-subject">EcoKids Bag</h3>
          <p class="assortment-text">Яскрава та зручна сумка для дітей.</p>
          <p class="assortment-price">&#36;22</p>
        </div>
        <button
          class="assortment-btn"
          type="button"
          aria-label="Купити EcoKids Bag"
        >
          Купити
        </button>
      </li>
    </ul>
  </div>
</section>
