<section class="section section-asortment">
  <h2 class="assortment-title">Наші сумки</h2>
  <div class="assortment-container container">
    <ul class="assortment-list">
      <li class="assortment-item">
        <div class="assortment-img">
          <picture>
            <source
              srcset="
                ./img/assortment/compress-desktop/classic-min.jpg    1x,
                ./img/assortment/compress-desktop/classic@2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/assortment/compresss-tablet/classic-min.jpg    1x,
                ./img/assortment/compresss-tablet/classic@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/assortment/compress-mob/mob-x1-classic-min.jpg 1x,
                ./img/assortment/compress-mob/mob-x2-classic-min.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/assortment/compress-mob/mob-x1-classic-min.jpg"
              alt="bag classic"
              width="288"
            />
          </picture>
        </div>
        <div class="assortment-content">
          <h3 class="assortment-subject">EcoTote Shopper</h3>
          <p class="assortment-text">
            Ідеальна для покупок, з посиленими ручками.
          </p>
          <p class="assortment-price">$30</p>
        </div>
        <button class="assortment-btw" type="submit">Купити</button>
      </li>
    </ul>
  </div>
</section>
