<section class="section feedback" id="feedbacks">
  <div class="container">
    <h2 class="fb-title bold-comfortaa">Що говорять наші клієнти</h2>
    <ul class="fb-list">
      <li class="fb-item">
        <ul class="star-list">
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
        </ul>
        <p class="fb-text bold-comfortaa">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="fb-name">Анна</p>
      </li>
      <li class="fb-item">
        <ul class="star-list">
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
        </ul>
        <p class="fb-text bold-comfortaa">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="fb-name">Ігор</p>
      </li>
      <li class="fb-item">
        <ul class="star-list">
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
        </ul>
        <div class="fb-space">
          <p class="fb-text bold-comfortaa">
            Сумка повністю відповідає опису, рекомендую!
          </p>
          <p class="fb-name">Олена</p>
        </div>
      </li>
      <li class="fb-item">
        <ul class="star-list">
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Заповнена зірочка"
            >
              <use href="/img/icons.svg#star-fillled"></use>
            </svg>
          </li>
          <li class="star-item">
            <svg
              class="star-icon"
              width="20"
              height="21"
              aria-label="Пуста зірочка"
            >
              <use href="/img/icons.svg#star"></use>
            </svg>
          </li>
        </ul>
        <div class="fb-space">
          <p class="fb-text bold-comfortaa">
            Швидка доставка та гарне обслуговування.
          </p>
          <p class="fb-name">Сергій</p>
        </div>
      </li>
    </ul>
  </div>
</section>
