<footer class="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <a class="footer-logo" href="/">
        <svg class="footer-icon-logo" aria-label="Логотип">
          <use href="/img/main-logo.svg#main-logo"></use>
        </svg>
      </a>
      <!-- ------- Footer Navigation ------- -->
      <nav class="footer-nav">
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a class="footer-menu-link" aria-label="Про нас" href="#about"
              >Про нас</a
            >
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" aria-label="Переваги" href="#advantages"
              >Переваги</a
            >
          </li>
          <li class="footer-menu-item">
            <a
              class="footer-menu-link"
              aria-label="Асортимент"
              href="#assortment"
              >Асортимент</a
            >
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" aria-label="Галерея" href="#gallery"
              >Галерея</a
            >
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" aria-label="Відгуки" href="#feedbacks"
              >Відгуки</a
            >
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" aria-label="Контакти" href="#support"
              >Контакти</a
            >
          </li>
        </ul>
      </nav>
      <!-- ------- Social Media Links ------- -->
      <ul class="footer-icon-list">
        <li class="footer-icon-item">
          <a
            class="footer-icon-link"
            href="https://www.instagram.com/"
            target="_blank"
            aria-label="Інстаграм"
          >
            <svg class="footer-icon" width="32" height="32" aria-hidden="true">
              <use href="/img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icon-item">
          <a
            class="footer-icon-link"
            href="https://www.linkedin.com/"
            target="_blank"
            aria-label="Лінкедін"
          >
            <svg class="footer-icon" width="32" height="32" aria-hidden="true">
              <use href="/img/icons.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icon-item">
          <a
            class="footer-icon-link"
            href="https://www.youtube.com/"
            target="_blank"
            aria-label="Ютуб"
          >
            <svg class="footer-icon" width="32" height="32" aria-hidden="true">
              <use href="/img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!-- ------- Footer Contacts ------- -->
    <div class="footer-contacts">
      <span class="footer-line"></span>
      <address class="footer-address">
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <a
              class="footer-contact-link"
              href="tel:+380999091122"
              aria-label="Телефонний номер"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="footer-contacts-item">
            <a
              class="footer-contact-link"
              href="mailto:hello@ecotote.com"
              aria-label="Електронна пошта"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
      <!-- ------- Footer Copyright ------- -->
      <p class="footer-copyright" aria-label="Копірайт">
        © 2025 EcoTote. Всі права захищені.
      </p>
    </div>
  </div>
</footer>
