<section class="gallery">
  <div class="container section">
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-description">EcoTotes у повсякденному житті</h3>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/bag-on-a-chair-dt-1.jpg 1x,
              ../img/gallery/bag-on-a-chair-dt-2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../img/gallery/bag-on-a-chair-pl-1.jpg 1x,
              ../img/gallery/bag-on-a-chair-pl-2.jpg 2x
            "
            media="(min-width: 768px)"
            style="order: 4"
          />
          <source
            srcset="
              ../img/gallery/bag-on-chair-mb-1.jpg 1x,
              ../img/gallery/bag-on-chair-mb-2.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="../img/gallery/bag-on-a-chair-dt-1.jpg"
            alt="bag-on-a-chair"
            class="gallery-bag"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/bag-in-a-hand-dt-1.jpg 1x,
              ../img/gallery/bag-in-a-hand-dt-2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../img/gallery/bag-in-a-hand-pl-1.jpg 1x,
              ../img/gallery/bag-in-a-hand-pl-2.jpg 2x
            "
            media="(min-width: 768px)"
            style="order: 3"
          />
          <source
            srcset="
              ../img/gallery/bag-in-hand-mb-1.jpg 1x,
              ../img/gallery/bag-in-hand-mb-2.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="../img/gallery/bag-in-hand-dt-1.jpg"
            alt="bag-in-hand"
            class="gallery-bag"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/bag-on-a-shoulder-dt-1.jpg 1x,
              ../img/gallery/bag-on-a-shoulder-dt-2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../img/gallery/bag-on-a-shoulder-pl-1.jpg 1x,
              ../img/gallery/bag-on-a-shoulder-pl-2.jpg 2x
            "
            media="(min-width: 768px)"
            style="order: 2"
          />
          <source
            srcset="
              ../img/gallery/bag-on-a-shoulder-mb-1.jpg 1x,
              ../img/gallery/bag-on-a-shoulder-mb-2.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="../img/gallery/bag-on-a-shoulder-dt-1.jpg"
            alt="bag-on-a-shoulder"
            class="gallery-bag"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/bag-with-vegetables-dt-1.jpg 1x,
              ../img/gallery/bag-with-vegetables-dt-2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../img/gallery/bag-with-vegetables-pl-1.jpg 1x,
              ../img/gallery/bag-with-vegetables-pl-2.jpg 2x
            "
            media="(min-width: 768px)"
            style="order: 1"
          />
          <source
            srcset="
              ../img/gallery/bag-with-vegetables-mb-1.jpg 1x,
              ../img/gallery/bag-with-vegetables-mb-2.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="../img/gallery/bag-with-vegetables-dt-1.jpg"
            alt="bag-with-vegetables"
            class="gallery-bag"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
