<header class="header">
  <div class="container flex-header-box">
    <div class="container-header-logo">
      <a class="header-logo" href="/index.html">
        <svg class="header-icon-logo" aria-label="Логотип">
          <use href="/img/main-logo.svg#main-logo"></use>
        </svg>
      </a>
    </div>
    <nav class="header-nav">
      <ul class="ul-ecotote">
        <li class="nav-menu">
          <a href="#about" class="nav-menu-a">Про нас</a>
        </li>
        <li class="nav-menu">
          <a href="#advantages" class="nav-menu-a">Переваги</a>
        </li>
        <li class="nav-menu">
          <a href="#assortment" class="nav-menu-a">Асортимент</a>
        </li>
        <li class="nav-menu">
          <a href="#gallery" class="nav-menu-a">Галерея</a>
        </li>
        <li class="nav-menu">
          <a href="#feedbacks" class="nav-menu-a">Відгуки</a>
        </li>
        <li class="nav-menu">
          <a href="#support" class="nav-menu-a">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <ul class="header-social-link">
        <li class="social-link">
          <a href="tel:+110001111111" class="nav-menu-a">+38 (099) 909 11 22</a>
        </li>
        <li class="social-link">
          <a href="mailto:hello@ecotote.com" class="nav-menu-a"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <button class="burger" type="button" data-mobile-open>
      <svg class="burger-icon" width="32" height="32">
        <use href="/img/icons.svg#menu"></use>
      </svg>
    </button>
  </div>

  <!-- =============================mobile-
    menu=================== -->

  <div class="mobile-menu" data-mobile>
    <div class="container mobile-menu-container">
      <div>
        <div>
          <a class="menu-header-logo" href="/index.html">
            <svg class="header-icon-logo" aria-label="Логотип">
              <use href="/img/main-logo.svg#main-logo"></use>
            </svg>
          </a>
        </div>
        <div class="container-mobile-menu-close" data-mobile-close>
          <svg class="mobile-menu-close" width="32" height="32">
            <use href="/img/icons.svg#close"></use>
          </svg>
        </div>
      </div>
      <nav class="mobile-menu-nav">
        <ul class="mobile-nav-ul">
          <li class="mobile-nav-li">
            <a href="#about" class="mobile-menu-a">Про нас</a>
          </li>
          <li class="mobile-nav-li">
            <a href="#advantages" class="mobile-menu-a">Переваги</a>
          </li>
          <li class="mobile-nav-li">
            <a href="#assortment" class="mobile-menu-a">Асортимент</a>
          </li>
          <li class="mobile-nav-li">
            <a href="#gallery" class="mobile-menu-a">Галерея</a>
          </li>
          <li class="mobile-nav-li">
            <a href="#feedbacks" class="mobile-menu-a">Відгуки</a>
          </li>
          <li class="mobile-nav-li">
            <a href="#support" class="mobile-menu-a">Контакти</a>
          </li>
        </ul>
      </nav>
      <address class="address-mobile-menu">
        <ul class="mobile-social">
          <li class="mobil-social-li">
            <a href="tel:+38(099)9091122" class="color-number"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="mobil-social-li">
            <a href="mailto:hello@ecotote.com" class="-">hello@ecotote.com</a>
          </li>
        </ul>
      </address>
    </div>
  </div>

  <script src="/js/modal.js"></script>
</header>
