*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
.section {
    padding-top: 32px;
    padding-bottom: 32px;
}



.advantages-header {
margin-bottom: 48px;
}
.advantages-subtitle {
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #030a06;

width: 72px;
height: 24px;

margin-bottom: 12px;
}
.advantages-title {
font-family: "Comfortaa", sans-serif;

font-weight: 700;
font-size: 36px;
line-height: 120%;
letter-spacing: 0.01em;
color: #030a06;
}
.advantages-description {
font-family: "Fira Sans", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #030a06;

margin-top: 20px;
} 
.advantages-list {
display: flex;
flex-wrap: wrap;
justify-content: left;
row-gap: 48px; 
margin-bottom: 32px; 
}
.advantage-image {
width: 100%;
display: block;
height: auto;
border-radius: 32px;

margin-bottom: 8px;
}
.advantage-heading {
font-family: "Comfortaa", sans-serif;

font-weight: 700;
font-size: 24px;
line-height: 140%;
letter-spacing: 0.01em;
color: #030a06;
margin-bottom: 4px;
}
.advantage-text {
font-family: "Fira Sans", sans-serif;

font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #030a06;
}


@media (min-width: 768px) {
.container {
width: 768px;
padding-left: 32px;
padding-right: 32px;
}
.section {
padding-top: 64px;
padding-bottom: 64px;
}
.advantages-header {
margin-bottom: 32px;
}

.advantages-description {
font-size: 18px;
margin-top: 24px;  
}
.advantages-list-wrapper {
display: flex;
flex-wrap: wrap;
} 
.advantages-subtitle {
 margin-bottom: 16px;   
}
.advantages-list {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 24px; 
} 
.advantage-card {
width: 100%;
} 

.advantage-card:nth-child(3) {
grid-column: 1 / -1;

} 
.advantage-heading {
margin-top: 32px;
margin-bottom: 8px;
}
.advantage-text {
margin-top: auto;
}

.advantage-card:nth-child(2) h4 {
margin-bottom: 42.68px;
}
}

@media (min-width: 1440px) {
.container {
max-width: 1440px;
width: 100%;
padding-left: 64px;
padding-right: 64px;
}
.section {
padding-top: 64px;
padding-bottom: 64px;
}
.advantages-header {
margin-bottom: 80px;
}
.advantages-header p {
max-width: 768px;
margin-left: 0;
margin-right: auto;
}
.advantages-list {
grid-template-columns: repeat(3, 1fr);
width: 100%;
max-width: none;
}
.advantage-card {
height: auto;
}
.advantage-card:nth-child(3) {
grid-column: auto;
}
.advantage-card:nth-child(3) h4 {
margin-top: auto;
margin-bottom: auto;
}
.advantage-image {
margin-bottom: 32px;
}
.advantage-card:nth-child(2) h4 {
margin-bottom: auto;
}
.advantage-heading {
font-size: 32px;
margin-bottom: auto;
}
.advantages-title {
font-size: 48px;
}
.advantage-text {
margin-top: 24px;
}
}