body {
    font-family: 'Fira Sans', sans-serif;
    background: #ebf8ed;
    color: #030a06;
}

.bold-comfortaa {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.semibold-fira {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}

.hidden {
    display: none;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    /* color: #2E2F42; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 40px;

}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}


/* ------------- */
.container {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 32px;
}

.section {
    min-width: 320px;
    padding: 32px 16px;
    margin: 0 auto;
}

/* ----TABLET--- */
@media screen and (min-width: 768px) {
    .container {
        margin-top: 32px;
        width: 704px;
    }

    .section {
        padding: 64px 32px;
        width: 768px;
    }

}

/* ----DESKTOP--- */
@media screen and (min-width: 1440px) {
    .container {
        margin-top: 32px;
        width: 1312px;
    }

    .section {
        padding: 64px;
        width: 1440px;
    }
}