.hero {
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero-title {
  font-family: 'Comfortaa', sans-serif;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 16px;
  color: #030a06;
  margin-bottom: 24px;
}

.btn-hero {
  line-height: 1.6;
  color: #fff;
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 12px 24px;
  width: 288px;
  background: #030a06;
  display: block;
  text-align: center;
}

.btn-hero:hover,
.btn-hero:focus {
  opacity: 0.5;
}

.btn-hero:active {
  background-color: #113916;
  opacity: 0.6;
}

.btn-hero:disabled {
  opacity: 0.3;
}

.hero-image {
  margin: 0 auto;
  margin-top: 24px;
}

/* -----MEDIA TABLET----- */

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 32px;
  }

  .hero_container {
    display: flex;
    flex-wrap: wrap;
  }

  .hero-text-wrapper {
    display: flex;
    gap: 24px;
  }

  .hero-title {
    margin-bottom: 20px;
    width: calc((100% - 24px) / 2);
  }

  .hero-content {
    width: calc((100% - 24px) / 2);
  }

  .hero-description {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .btn-hero {
    width: 150px;
  }

  .hero-image {
    margin-top: 0;
  }
}

/* -----MEDIA DESKTOP----- */

@media only screen and (min-width: 1440px) {
  .hero-title {
    font-size: 56px;
    width: calc((100% - 32px) / 2);
  }

  .hero-text-wrapper {
    gap: 32px;
  }

  .hero-content {
    width: calc((100% - 32px) / 2);
  }
}
