.support-container {
    box-sizing: border-box;
    background-color: #EBF8ED;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    min-height: 1261px;
    background-image: url('/img/support/mobile-supportbckg.png');
    background-repeat: no-repeat;
    background-position: bottom 32px left 50%;
    background-size: 288px 428px;
}

@media (min-resolution: 192dpi) {
    .support-container {
        background-image: url(/img/support/mobile-supportbckg@2x.png);
    }
}

.support-title {
    font-family: 'Comfortaa', cursive;
    color: #030A06FF;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.01em;
    max-width: 288px;
    margin-bottom: 24px;
}

.support-subtitle {
    color: #030A06FF;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 32px;
}

.support-form {
    display: flex;
    flex-direction: column;
}

.support-label {
    color: #030A06;
    max-width: 288px;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 24px;
    position: relative;
}

.label-text {
    margin-bottom: 8px;
}

.support-input {
    background-color: #030A060D;
    border: 1px solid #030A0626;
    border-radius: 6px;
    width: 100%;
    padding: 8px 12px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #030A06;
    outline: none;
}

.input-invalid {
    color: #D64040;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    position: absolute;
    display: none;
    visibility: hidden;
}

.support-input:active::placeholder, .support-input:focus::placeholder {
    visibility: hidden;
}

.support-input:not(:placeholder-shown):invalid {
    color: #D64040;
    border: 1px solid #D64040;
}

.support-input:not(:placeholder-shown):invalid ~ .input-invalid {
    display: block;
    visibility: visible;
}

.message {
    vertical-align: bottom;
    height: 180px;
}

.support-input::placeholder {
    color: #030A0699;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.send-support-btn {
    color: #fff;
    background-color: #030A06;
    border: 1px solid #030A06;
    border-radius: 6px;
    padding: 12px 24px;
    width: 288px;
    height: 50px;

    cursor: pointer;
}

.send-support-btn:hover, .send-support-btn:focus {
    opacity: 0.5;
}

.send-support-btn:active {
    background-color: #113916;
    opacity: 0.6;
}

.send-support-btn:disabled {
    opacity: 0.2;
}

@media screen and (min-width: 768px) {
    .support-container {
        padding: 64px 32px;
        min-height: 1239px;
        background-image: url('/img/support/tablet-supportbckg.png');
        background-position: bottom 64px left 50%;
        background-size: 704px 428px;
    }

    .support-title {
        max-width: 468px;
    }

    .support-label {
        max-width: 704px;
    }

    .send-support-btn {
        width: 249px;
    }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
    .support-container {
        background-image: url(/img/support/tablet-supportbckg@2x.png);
    }
}

@media screen and (min-width: 1440px) {
    .support-container {
        padding: 64px 0px;
        min-height: 896px;
        background-image: url('/img/support/desktop-supportbckg.png');
        background-size: 644px 767px;
        background-position: bottom 50% right 0;
    }

    .section {
        min-width: 1440px;
    }

    .support-title {
        font-size: 48px;
        max-width: 644px;
    }

    .support-label {
        max-width: 644px;
    }

    .send-support-btn {
        width: 198px;
    }
}

@media (min-resolution: 192dpi) and (min-width: 1440px) {
    .support-container {
        background-image: url(/img/support/desktop-supportbckg@2x.png);
    }
}